//Colors

// Colors are indexed from darker to lighter
// Primary colors
html {
    font-size: 16px; // 1rem = 16px;
}

$primary-lt-blue: hsl(200, 82%, 24%);
$primary-lt-blue-1: hsl(200, 68%, 35%);

$primary-green: hsl(125, 86%, 14%);
$primary-green-1: hsl(125, 56%, 29%);

// Neutral colors

$neutral-cool-grey: hsl(210, 24%, 16%);
$neutral-cool-grey-1: hsl(209, 18%, 30%);
$neutral-cool-grey-2: hsl(210, 16%, 82%); 
$neutral-cool-grey-3: hsl(214, 15%, 91%);
